<!DOCTYPE html>
<html>
<head>
  <title>FBomb</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyBR7u3qGNezNqWNqF3CW-2A07lexQ7EtI0">
      </script>
  <%= csrf_meta_tags %>
</head>
<body>    
  <%= yield %>

  <!-- javascript -->
  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>

</body>
</html>
